#wrapper #content {
    margin-top: 30px;
}

#chart-link, #heatmap-link {
    cursor: pointer;
}

#heatmap {
    width: 80vw;
    height: 480vh;
}

#heatmap iframe#site {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.hidden {
    display: none;
}
